/*
Filename: rotating-heads.css
Project: rotating heads
Type: CSS
Author: Jan Dellsperger
Initial Version: 14. October 2013

This is the style sheet for the rotating heads project. All UI styles are
defined in this file.

Changelog:
12.11.2013 - Modifikationen zur leistungsverbesserung
*/


.image-holder{
    position: relative;
    margin: 0 auto;
    width: 260px;
    height: 260px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.head-image,.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 260px;
}

.head-image{
    z-index: 0;
}

.circle{
    z-index: 2;
}

.front{
    z-index: 1;
}


.desktop-only{
    display: block;
}

.mobile-only {
    display: none;
}

@media(max-width:768px) {
    .image-holder{
        width: 220px;
        height: 220px;
    }

    .head-image,.circle{
        width: 220px;
        height: 220px;
    }
    
    .desktop-only {
        display: none;
    }
    
    .mobile-only {
        display: block;
    }
}



